.sl_logo{

    background-image: url('../icon/logo-dash.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:200px;
    height:160px;

    display: block;
    text-align: center;
}
